body{
    background-color:#141414;
    color:#eeede6;
    font-family: 'Rajdhani', sans-serif;
}

header
{
    text-align: center;
    display: grid;
    font-size: 2em;
    grid-template-columns: repeat(3, 1fr);
    border-bottom-color: #460909;
    border-bottom-style: solid;
    border-radius: 1em;
    border-width: 0.05em;
    padding-bottom: 0.2em;
}

a
{
    color:#eeede6;
    text-decoration: none;
}

h1
{
    text-align: center;
    font-weight: bold;
    margin: 2em;
    font-size: 8em;
}

#componentsContainer
{
    display:grid;
    grid-template-columns: repeat(8, 1fr);
}

.components{
    margin-top: 5em;
    font-size: 1.5em;
}

#title{
    text-align: center;
    font-size: 6em;
}


.componentSpecific{
    text-align: center;
}

h3{
    font-size: 1.5em;
    text-align: center;
}

.question
{
    display: none;
}

.question:first-child 
{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.next-component {
    display: block;
    margin-right: 4em;
}
