body
{
    background-color:#141414;
    color:#eeede6;
    font-family: 'Rajdhani', sans-serif;
}

header
{
    text-align: center;
    display: grid;
    font-size: 2em;
    grid-template-columns: repeat(3, 1fr);
    border-bottom-color: #460909;
    border-bottom-style: solid;
    border-radius: 1em;
    border-width: 0.05em;
    padding-bottom: 0.2em;
}

a
{
    color:#eeede6;
    text-decoration: none;
}

h1
{
    text-align: center;
    font-weight: bold;
    margin: 2em;
    font-size: 8em;
}

#componentsContainer
{
    display:grid;
    grid-template-columns: repeat(8, 1fr);
}

.components
{
    margin-top: 5em;
    font-size: 1.5em;
}

h2
{
    text-align: center;
}

#title
{
    margin-top: 1.5em;
    text-align: center;
    font-size: 5em;
}


button
{
    font-size: 1.5em;
    padding-left: 4em;
    padding-right: 4em;
}


#next-component 
{
    display: block;
    margin-left: 3em;
    margin-right: 20em;
}

#previous-component
{
    margin-right: 3em;
    margin-left: 20em;
}

button:disabled 
{
    background-color: darkgray;
}

#componentSwap
{
    margin-top: 5em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2em;
}

.componentSpecific
{
    text-align: center;
}

h3{
    font-size: 1.5em;
    text-align: center;
}

table
{
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

td
{
    padding-left: 12.75em;
}

.question
{
    display: none;
}

.question:first-child 
{
    display: block;
}