header
{
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

body{
    background-color: grey;
}

.question {
    display: none;
}

.question:first-child {
    display: block;
}

.next-component {
    display: block;
    margin-right: 4em;
}